{% extends "accounts/base.html" %}
{% block content %}
<div class="row">
    <!-- 左側、ログインエリア -->
    <div class="card mx-auto " style="width: 500px">
        <div class="card-body">
            <form action="{% url 'accounts:login' %}" method="POST">
                {{ form.non_field_errors }}
                {% for field in form %}
                    {{ field }}
                    {{ field.errors }}
                    <hr>
                {% endfor %}
                <button type="submit" class="btn btn-success btn-lg btn-block" >ログイン</button>
                <input type="hidden" name="next" value="{{ next }}" />
                {% csrf_token %}
            </form>
            <a href="{% url 'accounts:user_create' %}" class="btn btn-success btn-lg btn-block" >会員登録</a>
        </div>
    </div><!-- 左側、ログインエリアおわり -->

</div>
{% endblock %}